.base
{
   height: auto;
}

.cards
{
    height: 220px;
    width: 220px;
    float: left;
    margin: 10px 20px 10px 20px;
        color: #2b2b2b;

}

.cards h1
{
    text-align: center;
    padding: 5vh 5vw 5vh 5vw;
}

.cards p
{
    text-align: center;
 
}