.base
{
   height: auto;
    background-color: whitesmoke;
        border: 1px solid #ecAA0b;

}

.cards
{
    height: 220px;
    width: 220px;
    float: left;
    margin: 10px 20px 10px 20px;
        color: #2b2b2b;
    box-shadow: 0px 0px 10px #888888;

}
.cards:hover
{
       box-shadow: 0px 0px 20px #888888;
    color: #ecAA0b;

}

.cards h1
{
    text-align:;
    padding: 5vh 5vw 5vh 5vw;
}

.cards p
{
    text-align: center;

}

#but
{
    height: 6vh;
    width: 10vw;;
    margin: 100px 100px 100px 45vw;
    background-color: #2b2b2b;
    font-size: 3vh;
    color: #ecAA0b;
 }

#but:hover
{
    color: #f5d485;
 }
